on:
  push:
    branches:
      - main

name: Build

jobs:
  example:
    name: Build example.nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: example.nix
        run: nix-build example.nix

  example-x86-64:
    name: Build example-x86-64.nix
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - name: example-x86-64.nix
        run: nix-build example-x86-64.nix
